<div class="tui-container">
  <tui-notification
    *ngIf="showLinkInvalidNotification"
    status="warning"
    class="tui-space_top-4"
    [hasIcon]="true"
    (close)="onCloseNotification()"
  >
    Reset password link is either invalid or has expired. Kindly request a new link.
  </tui-notification>
  <div class="tui-row">
    <div class="heading">
      <h3 class="tui-text_h3">Forgot Password?</h3>
      <p>
        Send a link to your email for the <br />
        reset
      </p>
    </div>
  </div>
  <div class="tui-row">
    <votee-forgot-password-form
      [resetForm]="resetForm"
      [isResetProcessing]="isResetProcessing"
      (submitForm)="onSubmitForm($event)"
      class="tui-col_md-6"
    ></votee-forgot-password-form>
  </div>
</div>
